<div>
    <form method="post" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">tên video</label>
            <input type="text" name="name" class="form-control" >
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">mô tả</label>
            <input type="text" name="description" class="form-control" >
        </div>
        <div class="mb-3">
            <label for="videoID" class="form-label">videoid</label>
            <input type="text" name="videoID" class="form-control" >
        </div>
        <button type="submit" class="btn btn-primary">Thêm video</button>
    </form>
</div>