<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-12">
      <div class="card shadow-sm mx-auto" style="border: none;"> 
        <div class="card-body">
          <div class="ratio ratio-21x9 mb-4">
            <iframe
              src="https://www.youtube.com/embed/{{getProp course 'videoID'}}"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
              class="rounded"
            ></iframe>
          </div>

          <h2 class="card-title mb-3 ">{{getProp course "name"}}</h2>
          <p class=""><strong></strong> {{getProp course "description"}}</p>

        </div>
      </div>
    </div>
  </div>
</div>
